{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            calculator
        </title>
        <link rel="stylesheet" href="/static/css/calcuator.css"/>
        <script src="{% static 'js/calcuator.js' %}" defer></script>
        {% comment %} Add a defer attribute to your script tag. The defer tag will tell your browser to not block the parsing of your html. {% endcomment %}
        

    </head>
<body>
    <div class="container">
        </table>
        <input type="text" name="input" id="screen" placeholder="0"/>
        <table>
            <tr>
                <td><button onclick="fun('%')" id="darkmode">%</button></td>
                <td><button onclick="fun('^')">^</button></td>
                <td><button onclick="fun('C')">C</button></td>
                <td><button onclick="fun('AC')">AC</button></td>
            </tr>
            <tr>
                <td><button onclick="fun('7')">7</button></td>
                <td><button onclick="fun('8')">8</button></td>
                <td><button onclick="fun('9')">9</button></td>
                <td><button onclick="fun('/')">/</button></td>
            </tr>
            <tr>
                <td><button onclick="fun('4')">4</button></td>
                <td><button onclick="fun('5')">5</button></td>
                <td><button onclick="fun('6')">6</button></td>
                <td><button onclick="fun('*')">*</button></td>
            </tr>
            <tr>
                <td><button onclick="fun('1')">1</button></td>
                <td><button onclick="fun('2')">2</button></td>
                <td><button onclick="fun('3')">3</button></td>
                <td><button onclick="fun('-')">-</button></td>
            </tr>
            <tr>
                <td><button onclick="fun('0')">0</button></td>
                <td><button onclick="fun('.')">.</button></td>
                <td><button onclick="fun('=')">=</button></td>
                <td><button onclick="fun('+')">+</button></td>
            </tr>
        </table>

    </div>
</body>
</html>